@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal overflow */
}

.container {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 1200px; /* Limit max width */
  margin: 0 auto; /* Center the container */
}

canvas {
  display: block; /* Prevents inline spacing issues */
  width: 100%; /* Ensure canvas fills its parent */
  height: auto; /* Maintain aspect ratio */
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
